@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .containers {
    @apply lg:max-w-[1200px]  lg:w-[750px] mx-auto p-10 overflow-clip;
  }
}
.test {
  color: #adff2f;
  background: #3498db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #56efff,
    #1abcde
  ); /* Chrome and Safari */
}

/* Firefox */
.test::before {
  content: "";
  width: 0;
  height: 2px;
  background: #3498db;
}
